.input-box {
  color: #707070;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-container {
  margin-bottom: 12px;
}

label {
  text-align: left;
  padding: 0.25rem 0rem;
  color: var(--sub-heading, #18322D);
}

input {
  background: none;
  padding: 0.5rem;
  border-radius: 4px;
  border-color: DADADA;
  border-width: 1.2px;
  width: 250px;
}

button {
  background-color: var(--primary-color, #40605A);
  padding: 2rem;
}