.input-box {
  color: #707070;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-container {
  margin-bottom: 12px;
}

label {
  text-align: left;
  padding: 0.25rem 0rem;
  color: var(--sub-heading, #18322d);
}

input {
  background: none;
  padding: 0.5rem;
  border-radius: 4px;
  border-color: DADADA;
  border-width: 1.2px;
  width: 250px;
}

/* button {
  background-color: var(--primary-color, #40605a);
  padding: 2rem;
} */

#login-btn {
  background-color: var(--primary-color, #40605a);
  justify-content: center;
  text-align: center;
  width: 328px;
  height: 56px;
  top: 714px;
  left: 23px;
  gap: 0px;
  opacity: 0px;
}

.auth-form-container,
.input-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  /* align-items: center;
  text-align: left; */
}

.login-form,
.reg-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-title {
  font-size: 40px;
  color: var(--primary-color, #40605a);
}

.spacing {
  height: 2rem;
}

.txt-btn {
  background: none;
  color: var(--primary-color, #40605a);
  text-decoration: underline;
  font-weight: bold;
  padding: 0rem;
}

/* variables:

font: */

.body-text {
  color: var(--body-text, #707070);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin: 20 auto;
}

.heading-text {
  color: var(--heading-text, #40605a);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 145.455% */
}

.sub-heading {
  color: var(--sub-heading, #18322d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 160% */
}

.assit-text {
  color: var(--primary-color, #40605a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.4px;
}
