.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px; /* Adjust height as needed */
  /* margin: 20px; */
  /* background-color: #40605A; */
  /* Primary color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 8px; /* Adjust border radius as needed */
  cursor: pointer;
  background-color: #40605a;
}
