@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

#root {
  width: 100%;
  /* margin: 20 auto; */
  padding: 0rem;
  text-align: center;
  max-width: 1280px;
}

body {
  background-color: #f7f7f7;
}

.App {
  /*text-align: center;
  min-height: 100vh;
  /* margin: 20 auto; */
  /* min-width: 320px; */
  /* display: flex;
  align-items: center;
  justify-content: center;*/

  background-color: #f7f7f7;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-form-container,
.input-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  /* align-items: center;
  text-align: left; */
}

.login-form,
.reg-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-title {
  font-size: 40px;
  color: var(--primary-color, #40605a);
}

.spacing {
  height: 2rem;
}

.txt-btn {
  background: none;
  color: var(--primary-color, #40605a);
  text-decoration: underline;
  font-weight: bold;
  padding: 0rem;
}

/* variables:

font: */

.body-text {
  color: var(--body-text, #707070);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin: 20 auto;
}

.heading-text {
  color: var(--heading-text, #40605a);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 145.455% */
}

.sub-heading {
  color: var(--sub-heading, #18322d);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 160% */
}

.assit-text {
  color: var(--primary-color, #40605a);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.4px;
}
