#root {
  width: 100%;
  margin: 20 auto;
  padding: 0rem;
  text-align: center;
  max-width: 1280px;
}

.App {
  text-align: center;
  min-height: 100vh;
  margin: 20 auto;
  /* min-width: 320px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 231, 223);
  padding: 2rem;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: left; */
  
}

.login-form, .reg-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-title {
  font-size: 40px;
  color: darkgreen;
}

label {
  text-align: left;
  padding: 0.25rem 0rem;
  color: rgb(27, 27, 27);
}

input {
  background: none;
  padding: 0.5rem;
  border-radius: 4px;
  border-color: rgb(100, 100, 100);
  border-width: 1.2px;
  width: 250px;
}

spacing {
  height: 2rem;
}

button {
  background-color: darkgreen;
  padding: 2rem;
}

.txt-btn {
  background: none;
  color: #006400;
  text-decoration: underline;
  font-weight: bold;
  padding: 0rem;
}